<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"
      integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
      crossorigin="anonymous"
    ></script> -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <a href="/api/auth/kakao">카카오 로그인</a> <a href="/api/auth/google">구글 로그인</a>
    <a href="/api/auth/naver">네이버 로그인</a>

    <div>채팅방</div>
    <button id="userId">채팅하기</button>
    <p></p>

    <div id="totalChat"></div>
    <input id="input1" />
    <button id="room1">메세지 보내기</button>
    <button id="leaveRoom">gg</button>
    <p></p>
    <button id="list">list</button>
    <button id="login">login</button>
    <button id="login2">login2</button>
    <script>
      const userId = 1;
      const qUserId = 2;
      const sendUserId = userId; //보내는 사람의 id 값 할당
      const receiveUserId = qUserId;
      // const chat = document.getElementById("input1").value;

      const socket = io.connect("http://localhost:3000", {
        path: "/socket.io",
      });

      document.getElementById("login").addEventListener("click", function () {
        socket.emit("login", { userId });
      });
      document.getElementById("login2").addEventListener("click", function () {
        socket.emit("login2", { qUserId });
      });

      document.getElementById("userId").addEventListener("click", function () {
        socket.emit("joinRoom", { userId, qUserId });
      });

      document.getElementById("leaveRoom").addEventListener("click", function () {
        socket.emit("leaveRoom", { userId, qUserId });
      });

      document.getElementById("room1").addEventListener("click", function () {
        socket.emit("room", {
          receiveUserId, // 받는 사람
          sendUserId, // 보내는 사람
          chatText: document.getElementById("input1").value, //입력값
        });
        document.getElementById("input1").value = "";
      });

      socket.on("chat", (data) => {
        console.log(data);
        for (let i = 0; i < data.length; i++) {
          let node = document.createElement("P");
          let textnode = document.createTextNode(data[i].chatText);
          node.appendChild(textnode);
          document.getElementById("totalChat").append(node);
        }
      });
      socket.on("list", (data) => {
        console.log(data);
      });
    </script>
  </body>
</html>
